.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  label {
    color: var(--secondary-110);
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
}
