.navLink {
  position: relative;
  display: flex;
  flex-direction: column;
  column-gap: 0.625rem;
  align-items: center;
  color: var(--secondary-100);
  text-decoration: none;
  justify-content: center;
  padding: 0.5rem;
  transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  border-radius: var(--radius-sm);

  @media (min-width: 768px) {
    flex-direction: row;
    border-radius: 50%;
    height: 2.5rem;
    aspect-ratio: 1;
    justify-content: start;
  }

  @media (min-width: 1440px) {
    height: unset;
    width: 100%;
    aspect-ratio: unset;
    border-radius: unset;
    padding-left: 1.5rem;
    justify-content: left;
  }
}

.navLink:hover {
  background-color: var(--primary-100);
  color: var(--background);
}
.selectedTag {
  display: none;
}

@media (min-width: 1440px) {
  .navLink:hover {
    background-color: unset;
    color: unset;
  }

  .selectedTag {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background-color: var(--primary-100);
    border-radius: 0 4px 4px 0;
    transition: all 0.2s ease-in-out;
  }

  .navLink:hover > .selectedTag {
    display: block;
  }

  .navLink:active > .selectedTag {
    display: block;
  }
}

.active {
  color: var(--grey-10);
  background-color: var(--primary-100);

  @media (min-width: 1440px) {
    background-color: unset;
    color: unset;

    .selectedTag {
      display: block;
    }
  }
}
